@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="p-4">Welcome to Book Management System</h1>
    <p>Things you can do.</p>
    <p><a style="width:200px" class="btn btn-outline-info border-2" asp-controller="Category" asp-action="Index">View all category</a></p>
    <p><a style="width:200px" class="btn btn-outline-success border-2" asp-controller="Category" asp-action="Create">Add new book category</a></p>
    <p><a style="width:200px" class="btn btn-outline-danger border-2" asp-controller="Category" asp-action="Index">Update book category</a></p>
    <p><a style="width:200px" class="btn btn-outline-warning border-2" asp-controller="Category" asp-action="Index">Delete book category</a></p>
</div>
